@font-face {
  font-family: "Mozilla Headline";
  src: url(../fonts/MozillaHeadline-VariableFont_wdth\,wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(-45deg, #0d0d0d, #1a1a1a, #000000, #121212);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  color: rgba(255, 255, 255, 0.096);
  font-family: "Mozilla Headline", sans serif;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}