@font-face {
  font-family: "Mozilla Headline";
  src: url(../fonts/MozillaHeadline-VariableFont_wdth,wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.app_container {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.light {
  background: #d1deea;
  color: #0f172a;
}


body.dark {
  background: #0b0e15;
  color: #cfd8e3;
}