.trading_button_wrapper {
    display: flex;
    flex-direction: column;
}

.trading_transaction_btn {
    box-sizing: border-box !important;
    margin-right: 2rem !important;
    padding: 0.5rem 1rem !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    width: 20rem !important;
    height: 2.5rem !important;
    border: none !important;
    border-radius: 0.5rem !important;
    background-color: #007bff !important;
    color: white !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    align-self: flex-end;
}

.trading_transaction_btn:hover {
    background-color: #0056b3 !important;
}

.trading_transaction_btn:active {
    background-color: #004085;
    transform: scale(0.98);
}

.crypto_transaction_form {
    display: flex;
    margin-top: 0.75rem;
    background: #ffffff;
    border: 1px solid rgba(16, 24, 40, 0.06);
    box-shadow: 0 6px 18px rgba(16, 24, 40, 0.06);
    padding: 0.75rem;
    border-radius: 0.5rem;
    gap: 0.75rem;
    align-items: stretch;
    background: rgba(255, 255, 255, 0.15);
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 0.5s forwards;
}

.long_toggle,
.short_toggle {
    color: white !important;
    background-color: #9ca1a6 !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
}

.long_toggle.Mui-selected {
    background-color: #02ad49 !important;
}

.short_toggle.Mui-selected {
    background-color: rgb(173, 3, 3) !important;
}

.main_textfield {
    width: 16rem!important;
}

.main_textfield .MuiInputBase-root {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    padding: 0 0.5rem;
    font-size: 1rem;
    color: #fff;
    transition: all 0.3s ease;
}

.main_textfield .MuiInputBase-input {
    color: #fff;
    font-weight: 600;
}

.main_textfield .MuiInputLabel-root {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.1rem !important;
    font-weight: 600;
}

.main_textfield .MuiInputLabel-root.Mui-focused {
    color: #00ff7f;
}

.main_textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #00ff7f;
}