.create_new_password_wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #294c92, #0a0f1f);
    font-family: sans-serif;
}
.forgot_password_field.confirmation_password {
    margin-top: 1rem;
}