.forgot_password_page_wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #294c92, #0a0f1f);
    font-family: sans-serif;
}

.forgot_box {
    background-color: #1f2937;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    width: 28rem;
    text-align: center;
    box-sizing: border-box;

}

.reset_info {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.reset_instruction {
    font-size: 1rem;
    color: #d1d5db;
    line-height: 1.5;
    margin-top: -15px;
    margin-bottom: 2rem;
    padding: 0 1rem;
    text-align: center;
    opacity: 0.9;
}

.forgot_password_field {
    color: black !important;
    width: 100% !important;
    margin: 0.5rem 0;
    margin-bottom: 1.5rem;
    text-align: left;
}


.forgot_password_field .MuiOutlinedInput-root {
    background-color: #fff;
    border-radius: 6px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.forgot_password_field input {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #000 !important;
}

.forgot_password_field .MuiOutlinedInput-notchedOutline {
    border: none;
    transition: border 0.3s ease;

    top: -2px;
    height: calc(100% + 4px);
    box-sizing: border-box;
    border-radius: 6px;
}


.forgot_password_field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 2px solid #4a86e7;
    border-radius: 6px;
}

.forgot_password_field .MuiOutlinedInput-notchedOutline legend {
    display: none;
}

.forgot_password_field .MuiInputLabel-root {
    display: none;
}

.forgot_btn_container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.MuiButton-root.forgot_btn {
    background-color: #4a86e7 !important;
    color: white !important;
    width: 100% !important;
    height: 3rem;
    font-weight: bold;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.back_to_login {
    padding-top: 1rem;
    display: inline-block;
    color: #9ca3af;
    font-size: 1rem;
    letter-spacing: 0.02em;
    cursor: pointer;
    transition: all 0.25s ease;
    position: relative;
}

.back_to_login:hover {
    color: rgb(98, 98, 223);
}

.reset_confirmation {
    font-size: 1rem;
    color: #d1d5db;
    line-height: 1.6;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
    text-align: center;
    opacity: 0.9;
    animation: fadeIn 0.6s ease-in-out;
}