.bitcoin_price_wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
}

.bitcoin_price_info {
    margin-top: 1rem;
    padding: 1rem 2rem;
    max-width: 90vw;
    background-color: #1d1a1a;
    color: #f5f5f5;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, background-color 0.3s;
}

.bitcoin_price_info:hover {
    transform: translateY(-2px);
    background-color: #2a2a2a;
}

.bitcoin_price {
    color: #cefbfb;
    font-weight: 700;
    text-shadow: 0 0 1px rgba(0, 255, 255, 0.7), 0 0 4px rgba(0, 255, 255, 0.5);

}